.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 40px 0;
  width: 60%;
  margin: 0 auto;
}

.footer h3 {
  color: white;
  font-weight: 400;
  font-style: italic;
  margin-bottom: 20px;
}

.footer ul {
  padding: 0;
}
.footer ul li {
  color: rgba(226, 233, 233, 0.459);
  line-height: 1.7;
  margin: 10px 0;
}
.footer ul li:hover {
  cursor: pointer;
  opacity: 0.6;
}
