.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.35);
}

.modal {
  position: fixed;
  padding: 1rem;
  border-radius: 14px;
  z-index: 30;
  animation: slide-down 300ms ease-out forwards;
  transform: translate(-50%, -50%);
  margin: auto;
}

@keyframes slide-down {
  from {
    opacity: 0;
    transform: translateY(-3rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
